<app-navbarinex></app-navbarinex>
<section id="pantalla-dividida" class="pantalla-dividida">
    <div class="color">
        <div class="texto">
            <img src="/assets/img/logrotrip-removebg-preview.png" alt="">
            <h1>TRIP HOST</h1>
            <p>Registrate como Guest para que puedas disfrutar de nuestros servicios y disponer de un catalogo de maravillosos Host para que planees tus proximas vacaciones</p>
         
        </div>
    </div>
    <div class="form">
        <form >
            <div class="centrado">
               <label for="inputUser">Usuario</label>
               <input type="text" class="form-control" placeholder="Username" id="username" name="username"
               [(ngModel)]="username" required>
                <label for="inputPassword">Password</label>
                <input type="password" class="form-control" placeholder="Password" id="password" name="password"
                    [(ngModel)]="password" required>
            </div>
            
            
           
          
            <a  class="btn btn-primary btn-lg active" role="button" aria-pressed="true" (click)="login()">Ingresar</a>
         
          </form>
        </div>
      
</section>
<footer-cmp></footer-cmp>
